

    <h1>Weather Dashboard for Latitude : {{formGroup.value.latitude}} and Longitude: {{formGroup.value.longitude}}</h1>
    <div class="container">
      <div class="weather-input">
        
        <form [formGroup]="formGroup" (ngSubmit)="getWeather()">
            <sky-fluid-grid [disableMargin]="false" gutterSize="small">
              
              <sky-row>
                <sky-column [screenSmall]="6" [screenMedium]="6">
                    <sky-input-box class="sky-margin-stacked-lg">
                      <label class="sky-control-label" [for]="latitude">
                        Latitude
                      </label>
                      <sky-help-inline
                        class="sky-control-help"
                        ariaLabel="Information about Latitude"
                        (actionClick)="latitudeDetails()"
                      />
                      <input
                        class="sky-form-control"
                        formControlName="latitude"
                        skyId
                        spellcheck="false"
                        type="text"
                        [attr.aria-describedby]="latitudeError.id"
                        #latitudeInput="skyId"
                      />
                      <span class="sky-error-indicator" skyId #latitudeError="skyId">
                        <sky-status-indicator
                          *ngIf="
                            (latitude.dirty || latitude.touched) &&
                            latitude.errors &&
                            latitude.errors['required']
                          "
                          descriptionType="error"
                          indicatorType="danger"
                        >
                          Latitude is required.
                        </sky-status-indicator>
                      </span>
                    </sky-input-box>
                  </sky-column>
                <sky-column [screenSmall]="6" [screenMedium]="6">
                  <sky-input-box class="sky-margin-stacked-lg">
                    <label class="sky-control-label" [for]="longitude">
                      Longitude
                    </label>
                    <sky-help-inline
                      class="sky-control-help"
                      ariaLabel="Information about Longitude"
                      (actionClick)="longitudeDetails()"
                    />
                    <input
                      class="sky-form-control"
                      formControlName="longitude"
                      skyId
                      spellcheck="false"
                      type="text"
                      [attr.aria-describedby]="longitudeError.id"
                      #longitudeInput="skyId"
                    />
                    <span class="sky-error-indicator" skyId #longitudeError="skyId">
                      <sky-status-indicator
                        *ngIf="
                          (longitude.dirty || longitude.touched) &&
                          longitude.errors &&
                          longitude.errors['required']
                        "
                        descriptionType="error"
                        indicatorType="danger"
                      >
                        Longitude is required.
                      </sky-status-indicator>
                    </span>
                  </sky-input-box>
                </sky-column>
                <button class="search-btn">Search</button>
              </sky-row>
              
            </sky-fluid-grid>
          </form>
        
      </div>

      <div class="weather-data" *ngIf="weatherData">
        <sky-box  data-sky-id="box-demo" [ariaLabel]="'boxDemo'">
          <sky-box-content class="current-weather">
            <div class="details">
              <h4>Weather report for Latitude : {{formGroup.value.latitude}} and Longitude: {{formGroup.value.longitude}}</h4>
              <h6>Date: {{weatherData.time[0]}}</h6>
              <h6>Temperature Max/Min: {{weatherData.temperatureMax[0]}}°C / {{weatherData.temperatureMin[0]}}°C</h6>
              <h6>Apparent Temperature Max/Min: {{weatherData.apparentTemperatureMax[0]}}°C / {{weatherData.apparentTemperatureMin[0]}}°C</h6>
              <h6>Preciitation Probability Max: {{weatherData.precipitationProbabilityMax[0]}}% </h6>
              <h6>Average Relative Humidity: {{weatherData.relativeHumidity}}% </h6>
              <h6>Average Precipitation Sum: {{weatherData.precipitation}}mm </h6>
            </div>
          </sky-box-content>
        </sky-box>
        
        <div class="days-forecast">
          <h2>Next 6-Day Forecast</h2>
          
          <ul class="weather-cards">
            <li class="card">
              <h6>Date: {{weatherData.time[1]}}</h6>
              <h6>Temperature Max/Min: {{weatherData.temperatureMax[1]}}°C / {{weatherData.temperatureMin[1]}}°C</h6>
              <h6>Apparent Temperature Max/Min: {{weatherData.apparentTemperatureMax[1]}}°C / {{weatherData.apparentTemperatureMin[1]}}°C</h6>
              <h6>Preciitation Probability Max: {{weatherData.precipitationProbabilityMax[1]}}% </h6>
            </li>
            <li class="card">
              <h6>Date: {{weatherData.time[2]}}</h6>
              <h6>Temperature Max/Min: {{weatherData.temperatureMax[2]}}°C / {{weatherData.temperatureMin[2]}}°C</h6>
              <h6>Apparent Temperature Max/Min: {{weatherData.apparentTemperatureMax[2]}}°C / {{weatherData.apparentTemperatureMin[2]}}°C</h6>
              <h6>Preciitation Probability Max: {{weatherData.precipitationProbabilityMax[2]}}% </h6>
            </li>
            <li class="card">
              <h6>Date: {{weatherData.time[3]}}</h6>
              <h6>Temperature Max/Min: {{weatherData.temperatureMax[3]}}°C / {{weatherData.temperatureMin[3]}}°C</h6>
              <h6>Apparent Temperature Max/Min: {{weatherData.apparentTemperatureMax[3]}}°C / {{weatherData.apparentTemperatureMin[3]}}°C</h6>
              <h6>Preciitation Probability Max: {{weatherData.precipitationProbabilityMax[3]}}% </h6>
            </li>
            <li class="card">
              <h6>Date: {{weatherData.time[4]}}</h6>
              <h6>Temperature Max/Min: {{weatherData.temperatureMax[4]}}°C / {{weatherData.temperatureMin[4]}}°C</h6>
              <h6>Apparent Temperature Max/Min: {{weatherData.apparentTemperatureMax[4]}}°C / {{weatherData.apparentTemperatureMin[4]}}°C</h6>
              <h6>Preciitation Probability Max: {{weatherData.precipitationProbabilityMax[4]}}% </h6>
            </li>
            <li class="card">
              <h6>Date: {{weatherData.time[5]}}</h6>
              <h6>Temperature Max/Min: {{weatherData.temperatureMax[5]}}°C / {{weatherData.temperatureMin[5]}}°C</h6>
              <h6>Apparent Temperature Max/Min: {{weatherData.apparentTemperatureMax[5]}}°C / {{weatherData.apparentTemperatureMin[5]}}°C</h6>
              <h6>Preciitation Probability Max: {{weatherData.precipitationProbabilityMax[5]}}% </h6>
            </li>
            <li class="card">
              <h6>Date: {{weatherData.time[6]}}</h6>
              <h6>Temperature Max/Min: {{weatherData.temperatureMax[6]}}°C / {{weatherData.temperatureMin[6]}}°C</h6>
              <h6>Apparent Temperature Max/Min: {{weatherData.apparentTemperatureMax[6]}}°C / {{weatherData.apparentTemperatureMin[6]}}°C</h6>
              <h6>Preciitation Probability Max: {{weatherData.precipitationProbabilityMax[6]}}% </h6>
            </li>
          </ul>
        </div>
      </div>
   
    </div>
    

  


    <!-- <div class="container">
        <h1>Weather App</h1>
        <form [formGroup]="formGroup">
            <sky-fluid-grid [disableMargin]="false" gutterSize="small">
              <sky-row>
                <sky-column [screenSmall]="6">
                  <h2>Weather App</h2>
                </sky-column>
              </sky-row>
              <sky-row>
                <sky-column [screenSmall]="6" [screenMedium]="6">
                    <sky-input-box class="sky-margin-stacked-lg">
                      <label class="sky-control-label" [for]="latitude">
                        Latitude
                      </label>
                      <sky-help-inline
                        class="sky-control-help"
                        ariaLabel="Information about Latitude"
                        (actionClick)="onActionClick()"
                      />
                      <input
                        class="sky-form-control"
                        formControlName="latitude"
                        skyId
                        spellcheck="false"
                        type="text"
                        [attr.aria-describedby]="latitudeError.id"
                        #latitudeInput="skyId"
                      />
                      <span class="sky-error-indicator" skyId #latitudeError="skyId">
                        <sky-status-indicator
                          *ngIf="
                            (latitude.dirty || latitude.touched) &&
                            latitude.errors &&
                            latitude.errors['required']
                          "
                          descriptionType="error"
                          indicatorType="danger"
                        >
                          Latitude is required.
                        </sky-status-indicator>
                      </span>
                    </sky-input-box>
                  </sky-column>
                <sky-column [screenSmall]="6" [screenMedium]="6">
                  <sky-input-box class="sky-margin-stacked-lg">
                    <label class="sky-control-label" [for]="longitude">
                      Longitude
                    </label>
                    <sky-help-inline
                      class="sky-control-help"
                      ariaLabel="Information about Longitude"
                      (actionClick)="onActionClick()"
                    />
                    <input
                      class="sky-form-control"
                      formControlName="longitude"
                      skyId
                      spellcheck="false"
                      type="text"
                      [attr.aria-describedby]="longitudeError.id"
                      #longitudeInput="skyId"
                    />
                    <span class="sky-error-indicator" skyId #longitudeError="skyId">
                      <sky-status-indicator
                        *ngIf="
                          (longitude.dirty || longitude.touched) &&
                          longitude.errors &&
                          longitude.errors['required']
                        "
                        descriptionType="error"
                        indicatorType="danger"
                      >
                        Longitude is required.
                      </sky-status-indicator>
                    </span>
                  </sky-input-box>
                </sky-column>
                <button type="submit">Get Weather</button>
              </sky-row>
              
            </sky-fluid-grid>
          </form>
        
    </div> -->

      
    <!-- <form id="weatherForm">
      <label for="latitude">Latitude:</label>
      <input type="text" id="latitude" name="latitude" required>
      <label for="longitude">Longitude:</label>
      <input type="text" id="longitude" name="longitude" required>
      <button type="submit">Get Weather</button>
    </form>
    <div id="weatherData"></div> -->
  <!-- </div> -->


<router-outlet></router-outlet>
